<!DOCTYPE html>
<html lang="en">
  <body style="margin:0; padding:0; font-family: Arial, sans-serif; background-color:#f7f7f8;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="background-color:#f7f7f8;">
      <tr>
        <td align="center">
          <table width="600" border="0" cellspacing="0" cellpadding="0" style="background-color:#ffffff; border-radius:20px; overflow:hidden;">
            
            <tr>
              <td align="center" bgcolor="#58c3fc" style="padding:25px;">
                <h2 style="color:white; font-size:38px; margin:0;">Alami Pharmacy</h2>
              </td>
            </tr>
            
            <tr>
              <td style="padding:30px; font-size:17px; color:#000000;">
                Nhà thuốc Alami Pharmacy kính chào quý khách
              </td>
            </tr>
            
            <tr>
              <td style="background-color:#f7f7f8; padding:15px 20px; font-size:15px; color:#000000;">
                Kính gửi quý khách <b>{{user}}</b>, <br />
                Vui lòng nhập mã xác thực sau đây để cập nhật lại mật khẩu của bạn:
                <div style="background-color:white; margin:30px auto; text-align:center; padding:40px 60px; color:#4c9eeb; font-size:40px; font-weight:800; border-radius:10px; max-width:200px;">
                  {{OTP}}
                </div>
              </td>
            </tr>
            
            <tr>
              <td style="padding:30px; font-size:12px; color:#000000;">
                Mã này sẽ chỉ có hiệu lực trong vòng 5 phút.
              </td>
            </tr>
            
            <tr>
              <td style="padding:0 30px 30px 30px; font-size:12px; color:#000000;">
                Nếu đây không phải là bạn, vui lòng bỏ email này.
              </td>
            </tr>
            
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
